.header {
  @include font ($size: 2rem);
  display: flex;
  justify-content: space-between;
  margin: 40px 30px;
  flex-wrap: wrap;
  @include media-mobile-small {
    margin: 40px 30px 0;
  }
}

.header__text {
  font-size: 3rem;
  @include media-tablet {
    margin: 0 auto;
    width: 232px;
    text-align: center;
  }
  @include media-mobile-small {
    width: 165px;
  }
}

.header__switch {
  &::before {
    content: "Train";
  }
  &::after {
    content: "Play";
  }
  @include media-tablet {
    margin: 20px auto;
  }
}