.header__menu {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 1;
  &.open {
    display: block;
  }
}

.header__menu-content {
  position: fixed;
  margin: 0;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: $second-color;
  padding: 110px 30px;
  @include transition (0.5s ease-in-out);
  &.open {
    left: 0;
    z-index: 2;
  }
  li {
    margin: auto;
    margin-bottom: 20px;
    @include font ($size: 2.5rem);
    cursor: pointer;
    &.active {
      color: $color-primary;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
